.orange{
    background-color: #FE823C;
}
.blue{
    background-color: #0096FF;
}
.title{
    width: 200px;
    margin-top: 150px;
}
.win{
    width: 600px;
}
.AD{
    margin: 8px;
}
.k{
    margin-top: -50px;
}